/* NA SUA FESTA */
h1,.about-events, .menu-titles h1 {
	font-family:  'Lato', sans-serif;
	font-style: italic;
	font-weight: bold;
}

.navbar-default,.nav > li, .navbar-default .navbar-nav > li > a{
	background: #000046;
}
#top-bar{
	background: #ff8c01;
	height: 120px;
	padding: 65px 0 25px;
}
.headline-list h1{
	font-size: 1.6em;
}
.reservation{
	padding: 4%;
	margin: 0% auto;
}
.social{
	padding: 0 2%;
}

.daily-deal-icons2{
	padding: 0 2%;
}

.daily-deal-icons, .daily-deal-icons span{
	font-size: 1em;
}
.daily-deal-icons{
	padding: 1.5% 1%;	
}
